pytest~=8.4.1
pytest-bdd~=8.1.0
pytest-order
pytest-rerunfailures
python-dotenv~=1.1.1
pytest-playwright
pillow~=11.3.0
appium-python-client~=5.2.2
allure-pytest

selenium~=4.35.0
allure-python-commons~=2.15.0
playwright~=1.54.0

PyYAML~=6.0.3
